h1 {
  /* Change the color to #ff0000 */
   color: #ff0000;
  
}

p {
  /* Change the color to #0000ff */
  color: #0000ff;
  
}
h1 {
  color: #ff0000;
  /* Change the font-size to 40px */
  font-size: 40px;
  
  /* Change the font-family to serif */
  font-family: serif;
  
}

p {
  color: #0000ff;
  /* Change the font-size to 20px */
  font-size: 20px;
  
  /* Change the font-family to "Lucida Grande" */
  font-family: "Lucida Grande";
  
}
h1 {
  color: #e6855e;
  font-size: 30px;
  /* Change the background-color to #f3f372 */
  background-color: #f3f372;
  
  /* Change the height to 80px */
    height: 80px;
  
  /* Change the width to 200px */
    width: 200px;
  
}

img {
  /* Change the height to 50px */
     height: 50px;
  
  /* Change the width to 70px */
     width: 70px;
  
}
li {
  color: #444;
}

/* Change the color of "selected" to #ff0000 */
.selected {
  color: #ff0000;
}
/* Change the font-family of the <body> tag to "Avenir Next" */
body {
font-family: "Avenir Next";
}
body {
  font-family: "Avenir Next";
}
body {
  font-family: "Avenir Next";
}

/* Change header's background-color to #f7f2b4, and height to 90px */
.header {
  background-color: #f7f2b4;
  height: 90px;
  
}

/* Change main's background-color to #bdf7f1, and height to 600px */
.main {
  background-color: #bdf7f1;
  height: 600px;
}

/* Change footer's background-color to #ceccf3, and height to 270px */
.footer {
 background-color: #ceccf3;
  height: 270px;
}
body {
  font-family: "Avenir Next";
}

/* Use the list-style property to remove dots from <li> tags */
li {
  list-style: none;
}

.header {
  background-color: #f7f2b4;
  height: 90px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  /* Change the float property to left */
  float: left;
  
}

.header {
  background-color: #f7f2b4;
  height: 90px;
}

/* Change header-logo's font-size to 36px, and float property to left */
.header-logo {            
 float: left;            
 font-size: 36px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  float: left;
  /* Change the top & bottom padding to 33px, and left & right padding to 20px */
  padding: 33px 20px;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  /* Change the top & bottom padding to 20px, and left & right padding to 40px */
  padding: 20px 40px;
  
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
  /* Move the following 2 lines to around line 25 */
 
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

/* Add CSS for <li> tags within header-list */
.header-list li {            
  float: left;            
  padding: 33px 20px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  background-color: #ceccf3;
  height: 270px;
}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  background-color: #bdf7f1;
  height: 600px;
}

.footer {
  /* Change the background-color to #2f5167 */
  background-color: #2f5167;
  
  /* Change the color to #fff */
  color: #fff;
  
  /* Change the height to 120px */
  height: 120px;
  /* Change the padding for all sides to 40px */
  padding: 40px;
  
}

/* Change footer-logo's font-size and float property */
.footer-logo {            
  font-size: 32px;            
  float: left;
}

/* Change footer-list's float property */
.footer-list {            
  float: right;
}
/* Add CSS for <li> tags within footer-list */
.footer-list li {            
  padding-bottom: 20px;
}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  /* Remove CSS for background-color */
 
  /* Remove CSS for height */

  /* Change the top&bottom padding to 100px, and left & right padding to 80px */
  padding: 100px 80px;
  
}

/* Change the font-size of <h1> tags within copy-container */
.copy-container h1 {
  font-size: 140px;
}
/* Change the font-size of <h2> tags within copy-container */
.copy-container h2 {
  font-size: 60px;
}

/* Change the color of <span> tags within copy-container */
.copy-container span {
  color: #ff4a4a;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

/* Change the height of contents to 500px */
.contents {
  height: 500px;
}

/* Change the border-bottom property of section-title */
.section-title {
  border-bottom: 2px solid #dee7ec;
}

/* Change contents-item's float property to left */
.contents-item {
  float: left;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 500px;
  /* Change the margin-top property to 100px */
    margin-top: 100px;
  
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  /* Change the font-size to 28px */
  font-size: 28px;
  
  /* Change the padding-bottom property to 15px */
  padding-bottom: 15px;
  
  /* Change the margin-bottom property to 50px */
  margin-bottom: 50px;
  
}

.contents-item {
  float: left;
  /* Change the margin-right property to 40px */
  margin-right: 40px;
  
}

/* Change the font-size and margin-top of <p> tags within contents-item */
.contents-item p {
font-size: 24px;
margin-top: 30px;
}
.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
body {
  font-family: "Avenir Next";
}

li {
  list-style: none;
}

.header {
  background-color: #26d0c9;
  color: #fff;
  height: 90px;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}

.header-list li {
  float: left;
  padding: 33px 20px;
}

.main {
  padding: 100px 80px;
}

.copy-container h1 {
  font-size: 140px;
}

.copy-container h2 {
  font-size: 60px;
}

.copy-container span {
  color: #ff4a4a;
}

.contents {
  height: 500px;
  margin-top: 100px;
}

.section-title {
  border-bottom: 2px solid #dee7ec;
  font-size: 28px;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

.contents-item {
  float: left;
  margin-right: 40px;
}

.contents-item p {
  font-size: 24px;
  margin-top: 30px;
}

/* Change contact-form's padding-top property to 100px */
.contact-form {
  padding-top: 100px;
}

.footer {
  background-color: #2f5167;
  color: #fff;
  height: 120px;
  padding: 40px;
}

.footer-logo {
  float: left;
  font-size: 32px;
}

.footer-list {
  float: right;
}

.footer-list li {
  padding-bottom: 20px;
}
